.section {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: 100%;
}

.form {
  display: flex;
  flex-direction: column;
  gap: 24px;
  margin-top: 24px;

  button {
    width: fit-content;
    margin: 0 auto;
  }
}

.footer {
  display: flex;
  align-items: center;
  gap: 8px;
  margin-top: 80px;
}
